package {{fallbackPackage}};

import org.springframework.stereotype.Component;
import {{package}}.{{classname}}Client;

@Component
public abstract class ClientFallback implements {{classname}}Client{

}